body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#wrapper {
    flex: 1;
}

.container {
    padding: 20px;
}

.github-btn
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.header {
    padding: 60px 0;
    background: #f8f8f8;
}

.title {
    font-weight: 300;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.time-header {
    font-size: 60px;
    padding: 5px;
}

.primary-color {
    color: #209cee;
}

#timer {
    margin-top: 20px;
    margin-bottom: 50px;
}

@media(min-width: 800px) {
    .time-header {
        font-size: 80px;
    }

    .title:after {
        content: '.pl';
    }
}
